#!/usr/bin/env python3

#
# Default ATT&CK MATRIX to parse/use
#
# Default: 'Enterprise' (warning: slow to parse during first startup!)
matrix = 'Enterprise'
#
# FastAPI config
#
# Listening IP and PORT
ip = '0.0.0.0'
port = 8008
# Optional authentication token. 'None' means disabled.
token = None

# Don't change stuff below here unless you know what you're doing
#
# Can be set to 'False'/'True' to include deprecated entries in the
# matrix. You really shouldn't set this here.
#
deprecated = False
#
# Can be set to 'False'/'True' to include deprecated entries in the
# matrix. You really shouldn't set this here.
#
revoked = False
#
# Verbose mode, lots of output to the logfile
#
verbose = False
logfile = 'attackmatrix.log'
#
# Always download a clean copy of the matrix and overwrite the
# cache file. You really shouldn't set this here.
#
force = False
#
# Path to store matrices and caches in
#
cachedir = 'matrices'
#
# Cachefile affix
#
cacheaffix = '-matrixtable.db'
